/* update the style for H1*/

.markdown-here-wrapper {
  font-size: 15px;
  color: #3f3f3f ;
  line-height: 1.75em;
  letter-spacing: 0.1em;
  font-family: 微软雅黑;
  text-align: justify !important;
}


pre, code {
  font-size: 14px;
  font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
  margin: auto 5px;
}

code {
  /*white-space: pre-wrap;*/
  border-radius: 2px;
  text-align: center!important;
}

pre {
  font-size: 15px;
  padding: 1px 1px;
  line-height: 1.4em;
  display: block; !important;
  border:none;
  background-color:#ffffff;
}

/*pre code {
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
  padding: 1px 1px;
  display: block !important;
}
*/

strong, b{
  color: #2f2f2f;
}

em, i {
  color: #ab1942;
  font-size: 15px;
  font-style: normal;
}

hr {
  border: 1px solid #ddd;
  margin: 1.5em auto;
}

p {
  margin: 1.5em 5px !important;
}

table, dl, blockquote, q, ul, ol {
  margin: 10px 5px;
}

ul, ol {
  padding-left: 15px;
}

li {
  margin: 10px;
}

li p {
  margin: 10px 0 !important;
}

ul ul, ul ol, ol ul, ol ol {
  margin: 0;
  padding-left: 10px;
}

ul {
  list-style-type: circle;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

dl dd {
  margin: 0 0 10px;
  padding: 0 10px;
}

blockquote, q {
  border-left: 2px solid #ddd;
  padding: 0 10px;
  color: #888888;
  quotes: none;
  margin-left: 1em;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

h2{
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */

  font-style: bold !important;
  color: #000000 !important;
  padding: 5px 40px;
  /*border-top-width: 2px;
  border-top-style: solid;*/
  border-color: rgb(214, 51, 60);

}

h3, h4, h5 {
  margin: 20px 0 10px;
  padding: 0;
  font-size: 15px !important;
  font-style: bold !important;
  color: #2f2f2f !important;
  text-align: justify !important;
  padding: 0.5em 0.5em !important;
}
h1 {
  font-size: 16px !important;
  border-bottom: 1px solid #ddd !important;
}

h2 {
  font-size: 16px !important;
  line-height: 25.6px;

}

h6 {
  font-size: 14px !important;
  font-style: bold !important;
  color: #888888!important;
  line-height: 1.75em;
  text-align:center!important;

}

table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin: 0 auto;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

table tr th, table tr td {
  font-size: 16px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
}

table tr th {
  font-weight: bold;
  color: #eee;
  border: 1px solid #009688;
  background-color: #009688;
}


h1 {
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 10px auto; /* keep the table centered */

   padding: 2px 10px;
   vertical-align: top;
   border-radius: 15px 0px;
   color: rgb(255, 255, 255);
   font-size: 14px;
   background-color: rgb(214, 51, 60);
   margin-top: 15px;

}

h8 {
  display: inline; /* keep the background color wrapped tight */
  margin: 0px auto -5px 20px; /* keep the table centered */

  padding: 0.2em 5.5em; 
  border-top-left-radius: 0.3em; 
  border-top-right-radius: 0.3em; 
  border-bottom-right-radius: 0.3em; 
  border-bottom-left-radius: 0.3em; 
  background-color: rgb(33, 176, 30); 
  font-size: 1em; 
  /*color: rgb(255, 255, 255);*/

}

pre code {
  /*white-space: pre;
  overflow: auto;*/
  padding: 10px 5px;
  margin-top: -0em;
  border: 1px solid #ddd; 
  border-top-left-radius: 0.4em; 
  border-top-right-radius: 0.4em; 
  border-bottom-right-radius: 0.4em; 
  border-bottom-left-radius: 0.4em; 
  color: rgb(51, 51, 51); 
  font-size: 1em;
  text-align: justify !important;
  display: block !important;
  background-color:#ffffff;
}
